
API_BASE_URL=http://localhost:3000

SESSION_COOKIE_NAME=flowfin_admin


ADMIN_HOST=admin.flowfin.intelligent.tj

LETSENCRYPT_EMAIL=meoutic@gmail.com

BACKEND_NETWORK=flowfin_back_backend-network

API_CONTAINER=flowfin_api
